@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    z-index: 100;

    box-shadow: 0px -2px 15px rgb(0, 0, 0);
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

nav img{
    width: 3%;
    margin-left: 30px;
}

#links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#links a{
    text-decoration: none;
    color: rgb(206, 90, 90);
    transition: color 0.7ms;
}

#links a:hover{
    color: rgb(168, 80, 80)
}

main{
    padding-top: 120px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 35px;
}

article p, #review p{
    width: 40%;
    text-align: justify;
    padding: 0px 20px;
}

#review p{
    width: 80%;
}

#review{
    display: flex;
    align-items: center;
    flex-direction: column;
}

article img{
    width: 10%;
    border-radius: 15px;
}

footer{
    width: 100%;
    height: 75px;
    margin-top: 50px;

    background-color: rgb(37, 18, 18);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer *{
    color: white
}

.modal{
    max-width: 700px !important;
}

.radioContainer{
    display: flex;
    justify-content: flex-end;
}

#review img{
    max-width: 70%;
}